<div class="card articleInfo">
  <img [src]="imgSrc" [alt]="textAltImg" id="imgArticle">
  <div class="card-body">
    <span><h5 class="card-title" [ngStyle]="{color:getColor()}" >{{title | uppercase}}</h5><span *ngIf="is_dispo===false" > - Indisp</span> <span *ngIf="is_dispo===true" > - Dispo</span> </span>
    <h6 class="card-title">{{price}} FCFA</h6>
    <p class="card-text">Une description</p>
    <button class="btn btn-primary" (click)="onLike()" >J'aime</button>
    <p>Nombre de like : {{totalNbLike}}</p>
    <input type="text" placeholder="Ecris ton commentaire" [(ngModel)]="comment">
    <p>COMMENTAIRE : {{comment}}</p>
  </div>
</div>
